

 a:hover {
    color: #FCA311;
}

/*footer*/

footer {
    padding: 1em;
    background-color:  #000814;
        text-align: center;
        color: whitesmoke;   
}

/*the horizontal line*/
hr {
    color: red;
}






/*note that the li and h2 does not have styling.*/
