
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

header, main, footer {
    max-width: 700px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    border: 3px solid #ffb703 ;
    padding: .5rem;
    background-color: #001219;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    /*border-radius: 20px;*/
    justify-content: space-between;
}

header img {
    width: 80;
    height: auto;
}

header h1 {
    color: white;
    margin: 2rem auto;
}

h1 {
    font-size: 1.5rem;
    margin: 0.15rem;
}

h2 {
    font-size: 0.5rem;

}

main h2 {
    
    margin: 2rem;
    font-weight: bold;
}

main li {
    margin: 2.9rem;
    padding: 0;
    line-height: 1;
}

footer {
    text-align: center;
    background-color: #001219;
    color: white;
    padding: 2rem;
    margin-bottom: 2rem;
    border: 3px solid #ffb703;
    /*border-radius: 20px;*/
}

/*design principles css*/

.principles-1 {
    max-width: 767px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}

.principles-1 section h3 {
    color: #b80c09; 
}

.principles-1 section {
    margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eaf4f4;
}


.principles-1 section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}

 .principles-1 h3 {
    background-color: #ffb703;
}

.image-home {
    box-shadow: 0 0 30px #333;
}

@media only screen and (min-width: 37.5em) {
	.principles-1 {
		grid-template-columns: 1fr 1fr;
	}

	.principles-1 section:nth-child(2) {
		display: block;
	}

	.principles-1 section:nth-child(3) {
		grid-column: span 2;
	}

	.principles-1 section picture {
		display: block;
	}
	.principles-1 section picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.principles-1 section:nth-child(3) {
		grid-column: span 1;
	}
}






